<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>All Products</title>
</head>

<head>
  <title>Figure Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .carousel-inner img {
      width: 100%;
      /* Set width to 100% */
      margin: auto;
      min-height: 200px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none;
      }
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="https://avatarfiles.alphacoders.com/203/203728.png" alt="Image" style="width:50px;height:50px;">
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="https://www.facebook.com/onlykrist.2012">About</a></li>
          <li><a href="/products">All Product</a></li>
          <li><a href="https://www.facebook.com/onlykrist.2012">Contact</a></li>
        </ul>
        <form style="padding: 15px 0;" action="/doSearchProducts" method="post">
          <input type="text" name="txtName" id="" style=";">
          <input type="submit" value="Search">
        </form>
      </div>
    </div>
  </nav>

  <body>
    <br>
    <button><a href="insertProducts">Add new products</a></button>
    <hr>
    <table class="table bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Image</th>
          <th>Delete</th>
          <th>Update</th>
        </tr>
      </thead>
      {{#each model}}
      <tr>
        <td>{{name}}</td>
        <td>{{size}}</td>
        <td>{{price}}</td>
        <td>{{amount}}</td>
        <td><img width="200px" , height="200px" src="{{image}}" alt=""></td>
        <td><a href="/delete?id={{_id}}">Delete</a></td>
        <td><a href="/update?id={{_id}} ">Update</a></td>
      </tr>
      {{/each}}
    </table>
  </body>

</html>